.llogos-hover {
  outline: 2px solid #00f !important;
  background-color: rgba(0, 0, 255, 0.1) !important;
}

.llogos-selected {
  outline: 2px solid yellow !important;
  background-color: rgba(255, 255, 0, 0.3) !important;
}

.llogos-response {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2147483647;
  background: #2e2e2e;
  border: 1px solid #444;
  color: #eee;
  padding: 8px;
  font-family: monospace;
  max-width: 300px;
  max-height: 200px;
  overflow: auto;
}